.wrapper1 {
  /* border: 5px solid rgb(86,98,110); */
  border-radius: 5px;
  margin-bottom: 2em;
}

.wrapper1 > div {
  /* background-color: rgb(89,161,175); */
  border-radius: 5px;
  padding: 10px;
  /* color:white; */
  font-weight: bold;
}
.wrapper1 > div p{
 font-weight: 10px;
}




.flex {
   display: flex;
  flex-wrap: wrap;
}

.flex > * {
  flex: 1 1 250px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 10px;
}